[program:{{app_name}}]
command=/bin/sh /srv/supervisor/bin/{{app_name}}.sh
autostart=true
autorestart=true
stopsignal=QUIT
stdout_logfile=/var/log/{{app_repository_name}}/{{app_name}}_console.log
stderr_logfile=/var/log/{{app_repository_name}}/{{app_name}}_stderr.log
user={{app_username}}

stdout_logfile_maxbytes=100MB
stderr_logfile_maxbytes=100MB
stdout_logfile_backups=16
stderr_logfile_backups=16
